<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>swlkr</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Sean Walker" />
    <meta name="description" content="My name is sean and I make websites" />
    <link rel="stylesheet" media="(prefers-color-scheme: light), (prefers-color-scheme: none)" href="/ridge-light.css" />
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="/ridge-dark.css" />
    <link rel="stylesheet" href="/ridge.css" />
  </head>
  <body>
    <vstack spacing=m>
      <img alt="profile image" class="br-100 h3 w3 dib" src="/profile2.png" />

      <div>
        <p>
          Hey, I'm sean
        </p>

        <p>
          Husband to my beautiful wife, father of zero children and one dog, programmer of ancient technology.
        </p>

        <p>
          In my spare time I like to take hikes and make sites.
        </p>

        <p>
          Follow me on <a href="https://twitter.com/swlkr">twitter</a>, subscribe on <a href="https://twitch.tv/swlkr">twitch</a> or check out my open source projects on <a href="https://github.com/swlkr">github</a>.
        </p>
      </div>

      <vstack spacing=s class="pb4">
        {{ range .Pages }}
          {{ .Render "list"}}
        {{ end }}
      </vstack>
    </vstack>
  </body>
</html>
