<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>swlkr</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Sean Walker" />
    <meta name="description" content="My name is sean and I make websites" />
    <link rel="stylesheet" media="(prefers-color-scheme: light), (prefers-color-scheme: none)" href="/ridge-light.css" />
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="/ridge-dark.css" />
    <link rel="stylesheet" href="/ridge.css" />
  </head>
  <body>
    <vstack spacing=m>
      <img alt="profile image" class="br-100 h3 w3 dib" src="/profile2.png" />

      <div>
        <p>
          Hey, I'm sean
        </p>

        <p>
          I program ruby/rails and try to write/launch SaaS.
        </p>

        <p>
          Follow me on <a href="https://twitter.com/swlkr">twitter</a>, subscribe on <a href="https://www.youtube.com/channel/UC1fQKDM22ElkLR4DxJbQNWw">youtube</a> or <a href="https://twitch.tv/swlkr">twitch</a> or check out my open source projects on <a href="https://github.com/swlkr">github</a>.
        </p>
      </div>

      <vstack spacing=s class=pb4>
        <h3>projects</h3>

        <div>
          <a href="https://allyourpasswords.com">all your passwords</a>
          <div class="muted">A password manager</div>
        </div>

        <div>
          <a href="https://boomtowns.app">boomtowns</a>
          <div class="muted">A list of the fastest growing towns in America</div>
        </div>

        <div>
          <a href="https://crm.isatiny.app">tiny crm</a>
          <div class="muted">A contact relationship manager</div>
        </div>

        <div>
          <a href="https://ping.isatiny.app">ping</a>
          <div class="muted">An uptime monitor</div>
        </div>

        <div>
          <a href="https://janetdocs.com">janet docs</a>
          <div class="muted">A community documentation site for the janet programming language</div>
        </div>
      </vstack>

      <vstack spacing=s class="pb4">
        <h3>posts</h3>

        {{ range .Pages }}
          {{ .Render "list"}}
        {{ end }}
      </vstack>
    </vstack>
  </body>
</html>
